.body{
    background: rgb(30, 196,153);
}

.b1{
    background: white;
    margin-top:15%;
    margin-bottom:15%;
    margin-left:30%;
    margin-right:30%;
}
.b2{
    display: flex;
    flex-direction: column;
    padding-top: 7%;
    padding-bottom: 7%;
}
.h1{
    margin-bottom:0%;
    margin-left: 20%;
    margin-right: 20%;
}
.h2{
    color: grey;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.btn{
    display: inline-flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-top: 0%;
}
.btn_lg{
    background: green;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    height: 30px    ;
}
.footer{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.btn-No1{
    width: 330px;
    height: 30px;
}
.pic{
    height: 30px;
    width: 30px;
}

.H2{
    margin-top: 0%;
    margin-bottom: 10%;
    color: grey;
    margin-left: 20%;
    margin-right: 20%;
}
